h1 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: white;
    padding: 1em;
    font-size: 5vh;
}

h2 {
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    position: top;
    text-align: center;
    vertical-align: text-top;
    line-height: 90px;  
    padding: 1em; 
}

h3 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
    color: black;
    text-align: center;
    vertical-align: text-top;
    padding-top: 0.75em;
 }

.info-section h1 {
   color: #ddd;
   font-size: 50px;
   font-style: bold;
   font-family: 'Cabin Sketch', cursive;
   /* background-color: ; */
   display: inline;
}

