@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
body {
margin: 0;
}

/*  Core */

*,
:after,
:before {
   box-sizing: border-box;
}

html {
   font-family: 'Neucha', cursive;;
   color: var(--dark);
}

body {
   background-color: white;
   line-height: 1.4;
}

h1 {
   font-size: 3rem;
}

pSum {
   font-size: 1rem
}

img {
   width: 375px;
   height: 375px;
   border-radius: 5px;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 20px;
}

.imagesMain3 img{
    width: 100%;
    height: 100%;
 }

.header-section {
   text-align: center;
   padding: 3rem 0;
}

.section-2 {
   background-color: white;
}

/* Media Queries */

@media (min-width: 600px) {
   .intro {
       display: grid;
       grid-template-areas:
       'info-section links-section'
       'info-section headline';
   }

   .section-1 {
       padding: 4rem;
   }

   .intro-section p {
       padding: 2rem;
       font-size: 1.7rem;
   }
}